
{% load static %}
<body></body>

<link rel="stylesheet" type="text/css" href="{% static 'bosspage/bossButton.css' %}">
<h1>{{ boss.getName }}</h1>


<!-- Display the countdown timer in an element -->
<p id="time"></p>

<script>

{% for bossdate in boss.bossdate_set.all %}

// Set the date we're counting down to
var dateString = "{{bossdate.getDate}}";
var countDownDate = new Date(dateString).getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="time"
  document.getElementById("time").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("time").innerHTML = "Time's up!";
  }
}, 1000);

{% endfor %}

</script>



{% for question in boss.question_set.all %}



    <form action="{% url 'homepage:bossAnswer' course_id boss.id %} " method="post">
        {% csrf_token %}
        <fieldset class="question" style="background-color: rgba(150, 150, 150, 0.4);">

            <h2 class="bossquestion"> {{question.id}}: {{ question.getQuestion }} </h2> <br>

            <!-- checks to see if there are any questions in the boss -->
            {% if question.choice_set.exists == False %}

                <p>This Question does not have any choices</p>

            {% else %}
                <!-- Outputs all questions and choices -->
                {% for choice in question.choice_set.all %}
                    <!-- name is given to a function getQuestion to allow multiple sets of radio buttons.-->
                    <input type="radio" name="{{question.getQuestion}}" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.getChoice }}</label><br>

                {% endfor %}

            {% endif %}

            </fieldset>
        <br>


{% endfor %}
<input type="submit" value="Submit">
</form>