{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bosspage/bossButton.css' %}">

<style>
h2 {
    text-align: center;
    }
</style>

<h1>Bosses</h1>

<!--This defines the list of links used in the navigation bar -->
<ul>
    <li><a class = "nav" href="/homepage/">Homepage</a></li>
    <li><a class = "nav" href="/homepage/mainquest/">Main Quests</a> </li>
    <li><a class = "nav" href="/homepage/sidequest/">Side Quests</a> </li>
    <li><a class = "nav active" href="/homepage/bosses/">Bosses</a> </li>
    <li><a class = "nav" href="/homepage/profile/">Profile</a> </li>
</ul>

<h2> Prepare to use your skills and challenge strong bosses! </h2>

<!--Button for challenging Bosses. Hard coded at the moment but will change in the future -->
{% if course.boss_set.exists %}
    {% for boss in course.boss_set.all %}
        <div class = "center"> <a href="{% url 'homepage:bossView' course.id boss.id %}" class = "button"> {{boss.getName}}
        <p><font size = "+1"> {{boss.getDesc}} </font></p>
        </a> </div>
    {% endfor %}

{% else %}
    <p>There are no bosses available.</p>
{% endif %}