{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'homepage/mQuestView.css' %}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<style>
    body {
        background-image: url("{% static 'profile/xp_background.jpg' %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-blend-mode: overlay;
        background-color: rgb(221, 227, 238);
    }
</style>

<head>
    <h1>Main Quests</h1>

    <!--This defines the list of links used in the navigation bar -->
    <ul>
        <li><a class = "nav" href="{% url 'homepage:courseS' course.id %}">Homepage</a></li>
        <li><a class = "nav active" href="{% url 'homepage:mainquest'  course.id %}">Main Quests</a> </li>
        <li><a class = "nav" href="{% url 'homepage:sidequest' course.id %}">Side Quests</a> </li>
        <li><a class = "nav" href="{% url 'homepage:bosses' course.id %}">Bosses</a> </li>
        <li><a class = "nav" href="{% url 'homepage:marketplace' course.id %}">Marketplace</a> </li>
        <li><a class = "nav" href="{% url 'homepage:course_profile' course.id %}">Course Profile</a> </li>
    </ul>
</head>

<body>

    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="col-lg-5 generic-block justify-content-lg-center">
                <h2 style="text-align: center;">Recommended Topics: </h2>
                <a href="/homepage/course/1/recs/1" class = "button"> click here to see recommendations </a>
            </div>
            
            <div class="col-lg-5 generic-block justify-content-lg-center">
                <h2 style="text-align: center;"> Topics to improve on: </h2>
                <a href="/homepage/improve/1" class = "button"> click here to see topics to improve on </a>
            </div>
        </div>
    </div>

    <br>
    <h2 style="text-align: center;"> Available main quests are listed below: </h2>


    <!-- This contains the button and a link to a quest when clicked on -->
    <!-- The layout of the button in located in mQuestView.css -->

    <div class="generic-block">
        {% if course.quest_set.exists %}
            {% for quest in course.quest_set.all %}
                <div class="generic-block"> <a href="{% url 'homepage:mQuestView' course.id quest.id %}" class = "button"> {{quest.getName}}
                <p><font size = "+1"> {{quest.getDesc}} </font></p>
                </a> </div>
            {% endfor %}

        {% else %}
            <p>There are no quests available.</p>
        {% endif %}
    </div>

<!-- I dont think this sections is needed since the main bar at the top serves the same function

    <h2><a href="{% url  'homepage:courseS' course.id %}">Homepage</a> </h2>

    <h2><a href="{% url  'homepage:sidequest' course.id %}">Side Quests</a> </h2>

    <h2><a href="/homepage/bosses/">Bosses</a></h2>

    <h2><a href="{% url  'homepage:profile' %}">Profile</a> </h2>
    
-->
</body>
