{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">

<h1>Welcome to RPG Class!</h1>
<!--This defines the list of links used in the navigation bar, which can be applied to the other pages as needed -->

<ul>
    <li><a class = "nav active" href="/homepage/">Homepage</a></li>
    <li><a class = "nav" href="/homepage/mainquest/">Main Quests</a> </li>
    <li><a class = "nav" href="/homepage/sidequest/">Side Quests</a> </li>
    <li><a class = "nav" href="/homepage/bosses/">Bosses</a> </li>
    <li><a class = "nav" href="/homepage/profile/">Profile</a> </li>
</ul>

<br>
<br>
<!--These are the same links as above, restated with a desciption of each one -->
<h2><a href="/homepage/mainquest/">Main Quests</a> </h2>
<p>Make sure to prepare for these quests! Make sure to complete some side quests to increase your level! </p>
<h2><a href="/homepage/sidequest/">Side Quests</a> </h2>
<p>Here you can get some extra practice with quests that will give you XP. Make sure to give these a try before trying the Main Quests and the Bosses!</p>
<h2><a href="/homepage/bosses/">Bosses</a></h2>
<p>Here you can take on some of the toughest challenges. Make sure to be prepared!</p>
<h2><a href="/homepage/profile/">Profile</a> </h2>
<p>Here you can check your level, XP, account details, and more.</p>