{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">

<!-- Checks to see if the quest is available, as specified by the admin-->
{% if quest.getAvailable == False %}
    <p>This quest is not available</p>
{% else %}
    {% if quest.getType == 0 %}
        <h1>{{ quest.getName }}</h1>
        <p>Welcome to this Quest!</p><br>
        <p>This quest doesn't have anymore work for you to do!</p>
        <a href = "{% url 'homepage:summary' 1 quest.id %}">Click here to see the results!</a>
    {% elif quest.getType == 1 %}
        <h1>{{ quest.getName }}</h1>
        <p>Welcome to this Quest!</p><br>
        <p>Click here to Start of the quest!</p>

        <a href="{% url 'homepage:mQuest' 1 quest.id %}">Start Quest</a>
    {% endif %}
{% endif %}
