{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">



<style>
    body {
        background-image: url("{% static 'profile/cave_background.jpg' %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-blend-mode: overlay;
        background-color: rgb(221, 227, 238);
    }
</style>


<body>
    <!-- Checks to see if the quest is available, as specified by the admin-->
    {% if quest.getAvailable == False %}
        <p>This quest is not available</p>
    {% elif quest.getLives == 0 %}
        <p>you are out of lives</p>
        <a href = "{% url 'homepage:summary' course_id quest.id %}">Click here to see the results!</a>
    {% else %}
        {% if quest.getType == 0 %}
            <h1 style="text-align: center;">{{ quest.getName }}</h1>
            <h2 style="text-align: center;">Welcome to this Quest!</h2><br>
            <p style="text-align: center;">This quest doesn't have anymore work for you to do!</p>
            <a href = "{% url 'homepage:summary' course_id quest.id %}">Click here to see the results!</a>
        {% elif quest.getType == 1 %}
            <h1 style="text-align: center;">{{ quest.getName }}</h1>
            <h2 style="text-align: center;">Welcome to this Quest!</h2><br>
            <h3 class="generic-block" style="text-align: center;">Click here to Start the quest!</p>


            <p style="text-align: center;">number of lives: {{ quest.getLives }}</p>        

            <a href="{% url 'homepage:mQuest' course_id quest.id %}">Start Quest</a>

        {% endif %}
    {% endif %}
</body>