{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">  
<link rel="stylesheet" type="text/css" href="{% static 'homepage/profileView.css' %}">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<style>
    body {
        background-image: url("../../static/profile/xp_background.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-blend-mode: overlay;
        background-color: rgb(221, 227, 238);
    }

</style>

<head>
    <h1>Welcome to RPG Class!</h1>
    <!--This defines the list of links used in the navigation bar, which can be applied to the other pages as needed -->
    <ul>
        <li><a class = "nav" href="/homepage/">Homepage</a></li>
        <li><a class = "nav active" href="/homepage/profile/">Profile</a> </li>
         <form class="pofile_nickname" action="{% url 'accounts:update' %}" method="get" id="menu">
            {%csrf_token%}
            <button type="submit">Update Profile</button>
        </form>

    </ul>
</head>



<br>
<br>

<body>
    <div class="container">
        <div class="row justify-content-lg-center" style="margin: 0px">
            <!--Left side, User Profile and skills-->
            <div class="col-lg-5 profile-main justify-content-lg-center" style="overflow: auto; text-align: center;">
                <!--Top Section-->
                <div class="row justify-content-lg-center">
                    <div class="col-sm-3" style="margin: 25";>
                        <span id="user_icon">
                            <img src="../../static/profile/icon_default.jpg" alt="its you!" width="100" height="100">
                        </span>
                    </div>
                    <div class="col-sm-7 profile-inner" style="justify-content: center; flex-direction: column; display: inline;">
                        <h2 id="username" style="text-align: center;">Nickname: {{ user.student.getNickname }}</h2>
                        <br>
                        <h3>Enrolled Classes</h3>

                        {% if currstudent.course_set.exists == False %}
                            <h2>You arent enrolled in any courses!</h2>
                        {% else %}

                            {% for course in currstudent.course_set.all %}
                            <button><a href=" {% url 'homepage:profileS' course.id %}">{{course.getName}}</a></button>
                            {% endfor %}

                        {% endif %}


                    </div>
                </div>
                <!--Bottom Section-->
                <div class ="profile-inner">
                    <h3>Profile total XP: {{ user.student.getXP }}</h3>
                    {% for course in user.student.student_course_set.all %}
                    <h2>course: {{course.getCourseName}}  XP: {{course.getXP}}  </h2>
                    {% endfor %}
                </div>
            </div>



            <!--Right side, Quick Quest View-->
            <div class="col-lg-6 profile-quests justify-content-lg-center" style="overflow: auto; text-align: center;">
          
                <!--Top Section-->
                <div class="row justify-content-lg-center">
                    <div class="container" style="display:inline">
                        <h2 style="display: inline-block; Margin: 50px">All Active Quests</h2>
                    </div> 
                </div>

                <!--Bottom Section-->
                <div class="row justify-content-lg-center" style="height: 300px">
                    {% if currstudent.course_set.exists == False %}
                        <h2>You arent enrolled in any courses!</h2>
                    {% else %}
                      
                        {% for course in currstudent.course_set.all %}
                            
                            <div class = "row justify-content-lg-center profile-inner">
                            <h2> {{course.getName}} </h2>
                            <br>
                            {% for quest in course.quest_set.all %}
                                <div class = "profile-questBlock">
                                    <h4>{{quest.getName}}</h4>
                                    <p>{{quest.getDesc}}</p>
                                </div>
                            {% endfor %}
                            </div>

                        {% endfor %}

                    {% endif %}
                </div>

            </div>
        </div>
    </div>


</body>



<!--These are the same links as above, restated with a desciption of each one -->

<!--
<h2><a href="/homepage/mainquest/">Main Quests</a> </h2>
<p>Make sure to prepare for these quests! Make sure to complete some side quests to increase your level! </p>
<h2><a href="/homepage/sidequest/">Side Quests</a> </h2>
<p>Here you can get some extra practice with quests that will give you XP. Make sure to give these a try before trying the Main Quests and the Bosses!</p>
<h2><a href="/homepage/bosses/">Bosses</a></h2>
<p>Here you can take on some of the toughest challenges. Make sure to be prepared!</p>
<h2><a href="/homepage/profile/">Profile</a> </h2>
<p>Here you can check your level, XP, account details, and more.</p>
-->