
{% load static %}

<!--the title is for the test.py in hearts_server, can change it to anything as long as you change it in tests-->
<title>quest</title>
<link rel="stylesheet" type="text/css" href="{% static 'homepage/questView.css' %}">
<h1>{{ quest.getName }}</h1>

{% if correctAnswer.getNum != 0 %}
<p>you have the correct answer skill. you can use this for this specific question</p>
<form action="{% url 'homepage:mAA' course_id quest.id%} " method="post">
    {% csrf_token %}
    {% for question in quest.question_set.all %}
        {% if question.getGiveQ == False %}
        <input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ question.id}}">
        <label for="choice{{ forloop.counter }}">{{ question.getQuestion }}</label><br>
        {% endif %}
    {% endfor %}
<button type="submit" name="gainHearts" value="gainHearts">Get Correct Answer</button>
</form>
{% endif %}

{% if bombChoice.getNum != 0 %}
<p>you have the bomb choice skill. you can use this for this specific question</p>
<form action="{% url 'homepage:mBC' course_id quest.id%} " method="post">
    {% csrf_token %}
    {% for question in quest.question_set.all %}
    {% if question.choice_set.count|subtract:question.getBombed != 1 %}
        <input type="radio" name="answer" id="bomb{{ forloop.counter }}" value="{{ question.id}}">
        <label for="choice{{ forloop.counter }}">{{ question.getQuestion }}</label><br>
    {% endif %}
    {% endfor %}
<button type="submit" name="bombChoice" value="bombChoice">bomb an answer</button>
</form>
{% endif %}


{% for question in quest.question_set.all %}


    <form action="{% url 'homepage:answer' course_id quest.id %} " method="post">
        {% csrf_token %}
        <fieldset class="question">

            <h2 class="question"> {{forloop.counter}}: {{ question.getQuestion }} </h2> <br>

            <!-- checks to see if there are any questions in the quest -->
            {% if question.choice_set.exists == False %}

                <p>This Question does not have any choices</p>

            {% else %}

                {% for choice in question.choice_set.all %}
                    <!-- name is given to a function getQuestion to allow multiple sets of radio buttons.-->
                    <input type="radio" name="{{question.getQuestion}}" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.getChoice }}</label><br>

                {% endfor %}

                {% if question.getGiveQ == True %}

                    {% for choice in question.choice_set.all %}
                        {% if choice.getCorrect == True %}
                            <p>correct answer: {{choice.getChoice}}</p>
                        {% endif %}
                    {% endfor %}

                {% endif %}
                {% if question.getBombed > 0 %}

                    {% for choice in question.choice_set.all %}
                        {% if choice.getBombed == True %}
                            <p>it is not: {{choice.getChoice}}</p>
                        {% endif %}
                    {% endfor %}

                {% endif %}

            {% endif %}

            </fieldset>
        <br>


{% endfor %}
<input type="submit" value="Submit" id="submit">
</form>



