{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">

<p>Here is you summary for this Quest:</p><br>

<h2>Quest name: {{ quest.getName }}</h2>

<h2>XP gained: {{ quest.getXP }}</h2>


<p>number of lives: {{ quest.getLives }}</p>

{% if boostxp.getNum != 0 and fromquest%}
        <p>you have an xp boost, would you like to use it?</p>
        <form action="{% url 'homepage:mXPBoost' course.id quest.id %} " method="post">
                {% csrf_token %}
                <input type="submit" value="xpboost">
        </form>

{% endif %}

{% if not fromquest %}
        <a href = "{% url 'homepage:courseS' course.id %}">Click here to go back to the course page</a>
{% else %}
        <h2>Click here to accept the quest results:</h2>
        <form action="{% url 'homepage:accept' course.id quest.id %} " method="post">
                {% csrf_token %}
                <input type="submit" value="Accept">
        </form>
{% endif %}


