<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <form class="logout-link" action='/accounts/logout/' method="post">
            {%csrf_token%}
            <button type="submit">Logout</button>
        </form>
    {% else %}
            <h2>Log In</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log In</button
        </form>
        <p><a href="{% url 'accounts:signup' %}">Not registered? click here</a></p>
    {% endif %}

</body>
</html>